RewriteEngine on

RewriteRule ^about about.php [NC,L]
RewriteRule ^index index.php [NC,L]
RewriteRule ^kent-autosoft kent-autosoft.php [NC,L]
RewriteRule ^kent-elite-II-plus kent-elite-II-plus.php [NC,L]
RewriteRule ^kent-elite-plus kent-elite-plus.php [NC,L]
RewriteRule ^kent-grand-plus kent-grand-plus.php [NC,L]
RewriteRule ^kent-grand-star kent-grand-star.php [NC,L]
RewriteRule ^kent-iron-removal-filter kent-iron-removal-filter.php [NC,L]
RewriteRule ^kent-perk-hot-cold kent-perk-hot-cold.php [NC,L]
RewriteRule ^kent-sand-filter kent-sand-filter.php [NC,L]
RewriteRule ^kent-sterling-plus kent-sterling-plus.php [NC,L]
RewriteRule ^kent-ultra-storage kent-ultra-storage.php [NC,L]
RewriteRule ^product product.php [NC,L]
RewriteRule ^thank-you thank-you.php [NC,L]
RewriteRule ^why-ro why-ro.php [NC,L]
RewriteRule ^reach-us reach-us.php [NC,L]
RewriteRule ^career career.php [NC,L]